body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 0, 255);
}

p { 
    font-size: 30px;
}





.kassa {
    padding: 0;
    background-color: rgb(59, 31, 218);
}

p {
    font-size: 30px;
}

    .atb-paket {
        width: 400px;
        height: 300px;
        background-color: rgb(95, 221, 45);
        font-size: 50px;
        padding-left: 40px;

        
    }
    
    menu {
        list-style: none;

        justify-content: space-between;
        background-color: rgb(0, 255, 21);
        margin: 0;
padding: 0;
    }
menu item {
    color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 20px;
}
menuitem:hover{
    color: rgba(255, 0, 0, 0.459);
    background-color: rgba(60, 255, 0, 0.616);
}

main section {
    background-color: brown;
    width: fit-content;
    padding: 60px;
    margin: 30px;
    border-top-left-radius: 60px;
    border
}